* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

@font-face {
  font-family: 'Roxborough-light';
  src: url('assets/fonts/roxborough-cf-light.woff') format('truetype');
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: 'GT';
  src: url('assets/fonts/GTAmerica-ExpandedRegular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #F5F5F0;
  --black-color: #151515;
  --white-color: #FFFDED;
  --white-dark-color: #8d8c82;
  --black-light-color: rgba(26, 26, 26, 0.9);
  --border-black-color: #E5E5E5;
}