.input {
    width: 100%;
    height: 3.5vw;
    margin-top: 0.4em;
    padding: .8em 1.2em .8em 1em;
    font-family: 'GT', sans-serif;
    font-size: 0.8vw;
    font-weight: 300;
    line-height: 1.2em;

    background-color: var(--white-color);
    border: 2px solid var(--grey-color);
    border-radius: 0.2em;
    outline: none;
}

.input:focus {
    border-color: var(--select-color);
}

.error {
    width: 100%;
    position: absolute;
    color: var(--select-color);
    margin-bottom: 5px;
}

@media screen and (max-width: 1199px) {
    .input {
        height: 6.5vw;
        font-size: 1.5vw;
    }
}
