.container-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-reservas {
    width: 80%;
    height: 100%;
    margin-bottom: 1.5rem;
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

.section-servicios {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-carrito {
    justify-content: center;
}

/* Seccion servicios */

.header-servicios {
    display: flex;
    flex-direction: column;
    mix-blend-mode: exclusion;
    color: var(--white-color);
}

.miga-de-pan {
    margin-top: 1em;
    margin-left: 2em;
    padding: 0;
}

.miga-de-pan ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;

    font-family: "GT", sans-serif;
    font-size: 15px;
}

.flecha-miga svg{
    width: 20px;
    vertical-align: middle;
}

.titulo {
    font-family: 'Roxborough-light', sans-serif;
    font-size: 4.5rem;
}

.categorias-servicios {
    align-items: center;
}

.categorias-servicios ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 8px;
    cursor: pointer;

    font-family: "GT", sans-serif;
    font-size: 15px;
}

/* Seccion carrito */
.container-carrito {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 1rem;
    overflow: auto;

    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--border-black-color);
}

.header-carrito {
    gap: 1.5rem;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-image-header-carrito {
    width: 80px;
    height: 80px;
    min-width: 80px;
    border-radius: 8px;
    overflow: hidden;
}

.titulo-header-carrito {
    font-family: "Roxborough-light", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.calificacion-header-carrito {
    gap: 4px;
    align-items: center;

    font-family: "GT", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.estrellas-calificacion-carrito {
    color: #ffc00a;
}

.estrella {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
}

.numero-votos {
    font-weight: 400;
}

.direccion-header-carrito {
    font-family: "GT", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--black-light-color);
}

.container-servicios-seleccionados-carrito {
    flex: 1;
    background-color: red;
}

.container-total-carrito {
    font-family: "GT", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-carrito {
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: "Roxborough-light", sans-serif;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

.btn-carrito:hover {
    background-color: var(--black-light-color);
}


@media (max-width: 1800px) {
    .container-reservas {
        width: 90%;
    }
}