.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title div {
    align-items: center;
    font-family: 'Roxborough-light', sans-serif;
    font-size: 7.5vw;
    color: var(--white-color);
    mix-blend-mode: exclusion;
}

.title-gentleman {
    line-height: 1;
}