<div [id]="categoriaSeccion" class="container-servicio">
    <div class="titulo-categoria">
        <span>{{ nombreCategoria }}</span>
    </div>
    <div #containerCardServicio class="lista-servicios d-flex flex-column">
        <app-card-servicio
            *ngFor="let servicio of listaServicios"
            [id]="servicio.id"
            [titulo]="servicio.titulo"
            [duracion]="servicio.duracion"
            [precio]="servicio.precio"
            [agregarCarrito]="true"

            (seleccionar)="toggleSeleccion($event)"

            [seleccionado]="estaSeleccionado(servicio.id)">
        </app-card-servicio>
    </div>
</div>