.container-servicio {
    scroll-margin-top: 800px;
}

.titulo-categoria  {
    font-family: 'Roxborough-light', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
    color: var(--white-color);
    mix-blend-mode: exclusion;
}