.imagen-flotante {
  position: absolute;
  width: 100%;
  max-width: 250px;
  height: auto;
  transition: 0.3s ease-out;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1.5s ease, transform 1.5s ease-out;
}

.imagen-flotante.show {
  opacity: 1;
  transform: scale(1);
}

#imagen-foltante-1 {
  top: 10%;
  left: 15%;
}

#imagen-foltante-2 {
  top: 20%;
  right: 15%;
}

#imagen-foltante-3 {
  top: 10%;
  left: 50%;
}

#imagen-foltante-4 {
  bottom: 15%;
  right: 25%;
}

#imagen-foltante-5 {
  top: 55%;
  left: 25%;
}

.img-seleccion-barbero {
  width: 180px;
  height: 180px;
  object-fit: cover;
}