.container-body {
    width: 100%;
    height: calc(100vh - 120px);
    min-height: calc(100vh - 120px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo {
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roxborough-light', sans-serif;
    font-size: 6vw;
    mix-blend-mode: difference;
    color: var(--white-color);
}

.container-form {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 80%;
    padding: 2em  14vw;
    margin-bottom: 1.5rem;
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}