.container-body {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaty-color);
  top: 0;
}

.container-imagenes-flotantes {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: exclusion;
}

.container-title div {
  align-items: center;
  font-family: 'Roxborough-light', sans-serif;
  font-size: 7.5vw;
  color: var(--white-color);
}

.title-gentleman {
  line-height: 1;
}