#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 0.2rem 5rem;
    width: 100%;
    height: 120px;
    z-index: 10;
}

.icon-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: var(--black-color);
}

.icon-perfil span {
    font-size: 2rem;
}