a {
    text-decoration: none;
    outline: none;
    font-family: "GT", sans-serif;
    line-height: 19px;
}

.header-nav-links {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.reservas-categoria-links {
    font-size: 1.2rem;
    color: var(--white-color);
    background-color: var(--black-color);
    padding-inline: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}


