a {
    text-decoration: none;
    outline: none;
    font-family: "GT", sans-serif;
    font-size: 0.8rem;
    line-height: 19px;
    color: var(--black-color);
    text-transform: uppercase;
}

.header-nav-links {
    font-size: 1rem;
    color: var(--white-color);
}

