a {
    text-decoration: none;
    outline: none;
    font-family: "GT", sans-serif;
    line-height: 19px;
    cursor: pointer;
}

.header-nav-links {
    font-size: 0.9vw;
    text-transform: uppercase;
    color: var(--white-color);
}

.reservas-categoria-links {
    font-size: 1.2rem;
    color: var(--black-color);
    padding-inline: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.reservas-categoria-links:hover {
    background-color: var(--grey-color);
}

.reservas-categoria-links.activo {
    color: var(--white-color);
    background-color: var(--select-color);
    transform: scale(1.05);
}

.signup-link {
    width: fit-content;
    color: var(--white-color);
    margin-top: 1vw;
    font-family: 'GT', sans-serif;
    font-size: 0.8vw;
    padding-bottom: 0.4em;
    border-bottom: 1px solid var(--grey-dark-color);
    transition: border-color 0.3s ease;
    mix-blend-mode: difference;
}

.signup-link:hover {
    border-color: var(--white-color);
    mix-blend-mode: difference;
}
