.container-body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
    top: 0;
}

.container-login {
    width: 100%;
    min-height: calc(100vh - 145px);
    position: relative;
    top: 120px;
}

.section-titulo {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-login {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

/* Seccion titulo */

.container-titulo {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    max-width: 90%;
}

.titulo-bienvenida {
    font-family: 'Roxborough-light', sans-serif;
    font-size: 6.5vw;
    line-height: 5vw;
    font-weight: 500;
    text-transform: uppercase;
}

.parrafo-bienvenida {
    font-family: 'GT', sans-serif;
    font-size: 1.2vw;
    letter-spacing: -0.09vw;
    margin-top: 1rem;
    max-width: 70%;
}

/* Seccion Login */
.container-form {
    width: 75%;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form {
    padding-bottom: 2.3vw;
    border-bottom: 1px solid var(--select-color);
    margin-bottom: 1.5vw;
}

.titulo-login {
    font-family: 'Roxborough-light', sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 1.2vw;
    mix-blend-mode: exclusion;
    color: var(--white-color);
}

.crear-cuenta{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1199px) {
    .section-titulo {
        height: 40vh;
    }
    
    .section-login {
        height: 65vh;
    }

    .container-titulo {
        align-items: center;
        max-width: 100%;
    }
    
    .titulo-bienvenida {
        font-size: 7.5vw;
        line-height: .8em;
        text-align: center;
    }

    .parrafo-bienvenida {
        font-size: 1.4vw;
        text-align: center;
    }

    .titulo-login {
        font-size: 5vw;
    }
}

@media screen and (max-width: 991px) {
    .container-titulo {
        align-items: center;
        max-width: 100%;
    }

    .titulo-bienvenida {
        font-size: 11.5vw;
        line-height: 0.8em;
        text-align: center;
    }

    .parrafo-bienvenida {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 767px) {
    .container-titulo {
        align-items: center;
        max-width: 100%;
    }

    .titulo-bienvenida {
        font-size: 10.7vw;
        line-height: 10vw;
    }

    .parrafo-bienvenida {
        font-size: 2vw;
    }
}

@media screen and (max-width: 479px) {
    .container-titulo {
        align-items: center;
        max-width: 100%;
    }

    .titulo-bienvenida {
        font-size: 14vw;
        line-height: 11.5vw;
    }
}
