.container-calendario {
    max-width: 280px;
}

.header-calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "GT", sans-serif;
}

.container-btn {
    width: 50px;
    height: 50px;
}

.container-btn button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    
    transition: background-color 0.5s ease; 
}

.container-btn button:hover {
    background-color: var(--grey-color);
}

.container-btn button span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-btn button span svg{
    width: 30px;
    height: 30px;
    color: var(--black-color);
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
}

ol li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "GT", sans-serif;
    font-size: 0.8rem;
}

.nombre-dia {
    margin-bottom: 4px;
}

.dias {
    cursor: pointer;
    border-radius: 50%;
}

.dias:hover {
    background-color: var(--grey-color);
}

.dias.seleccionado {
    background-color: var(--select-color);
    color: var(--white-color);
}

.dias.deshabilitado {
    background-color: transparent;
    color: var(--grey-dark-color);
    cursor: not-allowed;
}
